@import "variables";

:root {
  --breakpoint-mobile: #{$breakpoint-mobile};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-desktop: #{$breakpoint-desktop};

  // ... altre variabili
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 14px;
  }
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  line-height: 1.6;
}
